# ========================
# Visual Studio
# ========================
.vs/
*.VC.db
*.VC.opendb
ipch/

# ========================
# Build Folders
# ========================
Debug/
Release/
x64/
x86/
Win32/
bin/
obj/

# ========================
# MFC / MSVC
# ========================
*.pch
*.pdb
*.ilk
*.idb
*.aps
*.ncb
*.sdf
*.opensdf